Spring:
  h2:
    console:
      enabled: true
      path: /h2
      settings:
        web-allow-others: true
  cache:
    type: redis
  redis:
    host: localhost
    port: 6379
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
  datasource:
    #    url: jdbc:h2:mem:test
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://codestates-mainpj-mysql.clwvdgya13lr.ap-northeast-2.rds.amazonaws.com:3306/dongnebook
    username: admin
    password: ${RDS_PASSWORD}
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create  # (1) 스키마 자동 생성
      type: trace
     # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_OAUTH2_CLIENT_ID}
            clientSecret: ${GOOGLE_OAUTH2_CLIENT_SECRET}
            scope:
              - profile
              - email
jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 20160


server:
  servlet:
    encoding:
      force-response: true

cloud:
  aws:
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    s3:
      bucket: codestates-dongnebook
    region:
      static: ap-northeast-2
    stack:
      auto: false